@model IEnumerable<LiveMatch.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Evento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (!string.IsNullOrEmpty(@item.ImagenEvento))
                    {
                        <img src="~/images/eventos/@item.ImagenEvento"
                             class="rounded-start"
                             height="150" width="150"
                             asp-append-version="true" />
                        <br>
                    }
                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deporte.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
