@model LiveMatch.Models.Entrada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entrada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcialidad.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEspectador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEspectador.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionEstadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionEstadio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
