@model List<EventoEntradasViewModel>

<table>
    <tbody>
        @foreach (var viewModel in Model)
        {
            <tr>
                <td style="vertical-align: top;">
                    <img src="~/images/eventos/@viewModel.Evento.ImagenEvento"
                         alt="@viewModel.Evento.NombreCompleto"
                         class="rounded-start"
                         height="200" width="200"
                         asp-append-version="true" />
                </td>
                <td style="vertical-align: top;">
                    <h4>@viewModel.Evento.NombreCompleto</h4>
                    <p>Precio de Entradas:</p>
                    @if (viewModel.Entradas != null && viewModel.Entradas.Any())
                    {
                        <ul>
                            @foreach (var entrada in viewModel.Entradas)
                            {
                                <li>@entrada.Parcialidad.Nombre (@entrada.TipoEspectador.Nombre) - @entrada.UbicacionEstadio.Nombre @entrada.Descripcion - Precio: $@entrada.Precio</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No hay entradas disponibles.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>