@model IEnumerable<LiveMatch.Models.Evento>
@{
    ViewData["Title"] = "Lista de eventos";
}

<h1 class="text-center">Eventos</h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Home" class="btn btn-secondary d-block mx-auto btn-lg">
            Nuevo evento
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de eventos</strong></h3>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    @if(Model.Count() > 0)
                    {
                     <table class="table table-bordered id=tblEventos" width="100%" cellspacing="0">
                         <thead>
                             <tr>
                                 <th>@Html.DisplayNameFor(m=> m.Id) </th>
                                    <th>@Html.DisplayNameFor(m=> m.Local) </th>
                                    <th>@Html.DisplayNameFor(m=> m.Visitante) </th>
                                    <th>@Html.DisplayNameFor(m=> m.DeporteRefId) </th>
                                    <th>@Html.DisplayNameFor(m=> m.Estadio) </th>
                                    <th>@Html.DisplayNameFor(m=> m.FechaEvento) </th>
                                    <th>Acciones</th>
                             </tr>
                         </thead>
                         <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Id)</td>
                                        <td>@Html.DisplayFor(m => item.Local)</td>
                                        <td>@Html.DisplayFor(m => item.Visitante)</td>
                                        <td>@Html.DisplayFor(m => item.DeporteRefId)</td>
                                        <td>@Html.DisplayFor(m => item.Estadio)</td>
                                        <td>@Html.DisplayFor(m => item.FechaEvento)</td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                                            <a class="btn btn-secondary" asp-action="Detalle" asp-route-id="@item.Id">Detalle</a>
                                            <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                     </table>   
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>